:root {
  --clr-orange: 26 100% 55%;
  --clr-pale-orange: 25 100% 94%;

  --clr-very-dark-blue: 220 13% 13%;
  --clr-dark-grayish-blue: 219 9% 45%;
  --clr-grayish-blue: 220 14% 75%;
  --clr-light-grayish-blue: 223 64% 98%;

  --clr-white: 0 0% 100%;
  --clr-black: 0 0% 0%;
}

